body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* theme dark - default */
:root {
  --background-color: #1d2327;
  --foreground-color: #8c8f94;
  --secondary-background-color: #171c1f;
  --text-gray: #a7aaad;
  --primary-color: #fff;
  --border-color: #2c3338;
  --disabled-color: #646970;
  --danger-color: #ff8085;
  --accent-color: #84a4f0;
  --secondary-accent-color: #50575e;
  --highlight-color: rgba(51, 97, 204, 0.4);
  --transition: all 0.3s ease;
  --highlighted-font: "Poppins", sans-serif;
}
